---
import { Image } from 'astro:assets';
import ReadButton from '../buttons/ReadButton.astro';
import type { Article } from '../../library/newt';

interface Props {
  article: Article;
}

const { article } = Astro.props;
---

<a href={`/works/${article.slug}`} class="work-block border-block hover-item">
  <div class="work-block-head">
    {article.thumbnail && (
      <div class="work-block-head__figure">
        <Image
          src={article.thumbnail.src}
          width={article.thumbnail.width || 300}
          height={article.thumbnail.height || 200}
          alt={article.thumbnail.altText || article.title}
          class="image-fit-cover"
        />
      </div>
    )}
    <div class="work-block-head__tags">
      {article.tag && article.tag.length > 0 && (
        <ul class="tags">
          {article.tag.map((tagName) => (
            <li class="tag-item">{tagName}</li>
          ))}
        </ul>
      )}
    </div>
  </div>
  <div class="work-block-detail">
    <h3 class="work-block-title">{article.title}</h3>
    <div class="work-block-button">
      <ReadButton href={`/works/${article._id}`} text="詳しく見る" />
    </div>
  </div>
</a>


<style lang="scss">
  @use '../../styles/_variables' as *;
  @use '../../styles/_mixins' as *;
  .work-block{
    background: $white;
    display: grid;
    margin-top: -8px;
    @include mq {
    }
    @include hover{
      .work-block-head__figure{
        img{
          scale: 1.1;
          rotate: -4deg;
          filter: grayscale(0);
        }
      }

    }
  }
  .work-block-head{
    display: grid;
    grid-template-columns: 8fr 2fr;
  }
  .work-block-head__figure{
    background: $white;
    overflow: hidden;
    position: relative;
    aspect-ratio: 45/25;
    border-bottom: var(--default-border);
    border-right: var(--default-border);
    border-radius: 0 0 14cqi 0;
    img{
      transition: scale .2s easing('in-out-sine'),filter .2s easing('in-out-sine'),rotate .2s easing('in-out-sine');
      // filter: grayscale(1);
    }
  }
  .work-block-head__tags{
    padding: 3cqi;
  }
  .work-block-detail{
    padding: $text28;
    // backdrop-filter: blur(10px);
    display: grid;
    gap: 3cqi;
  }
  .tags{
    display: grid;
    gap: .6rem;
    list-style: none;
  }
  .tag-item{
    font-size: $text16;
    display: flex;
    align-items: center;
    gap: .4rem;
    font-weight: 500;
    &:before{
      content: ":";
      display: block;
    }
  }
  .work-block-title{
    font-size: $text24;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", serif;
  }
  .work-block-button{
    display: flex;
    justify-content: end;
  }
</style>
<!-- <script>
  console.log('Thumbnail data:', article.thumbnail);
</script> -->
