---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import "highlight.js/styles/vs2015.css";
import Page from "../../components/page.astro";
import { getArticle, getArticles, formatDate } from "../../library/newt";

export async function getStaticPaths() {
  const articles = await getArticles();

  return articles.map((article) => {
    // article.slugがあればそれを使用、なければIDを使用
    const urlParam = article.slug || article._id;

    return {
      params: { id: urlParam },
      props: { articleId: article._id }, // 実際の記事IDをpropsとして渡す
    };
  });
}

// URLパラメータ
const { id } = Astro.params;
// 実際に記事を取得するためのID
const { articleId } = Astro.props;

const article = await getArticle(articleId);
const publishedAt = article._sys.raw.publishedAt;

// 変数宣言を追加
const isClose = Boolean(article.close);
---

<Page currentTitle={article.title}>
  <article class="article">
    <div class="article-head">
      <header class="article-head__text">
        <div class="article-meta">
          <p class="article-category text text--small">{article.category}</p>
          <h1 class="article-title">{article.title}</h1>
          {
            article.url && (
              <>
                {!isClose ? (
                  <div class="article-url article-url--close">
                    <p class="text text--small">{article.url}</p>
                    <span class="close-icon">Already Closed</span>
                  </div>
                ) : (
                  <a
                    href={`${article.url}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="article-url"
                  >
                    <p class="text text--small">{article.url}</p>
                  </a>
                )}
              </>
            )
          }
          {
            article.tag && article.tag.length > 0 && (
              <div class="article-tags">
                {article.tag.map((tagName) => (
                  <span class="article-tag text text--small">{tagName}</span>
                ))}
              </div>
            )
          }
        </div>
      </header>
      {
        article.thumbnail && (
          <div class="article-thumbnail">
            <Image
              src={article.thumbnail.src}
              width={article.thumbnail.width}
              height={article.thumbnail.height}
              alt={article.thumbnail.altText || article.title}
            />
          </div>
        )
      }
    </div>
    <div class="article-body">
      <div class="article-body__content">
        <div class="article-block-label">Overview</div>
        <div class="article-content text" set:html={article.content} />
      </div>
    </div>
  </article>
</Page>

<style lang="scss">
  .article-head {
    display: grid;
    grid-template-columns: 1fr;
    padding: $size-smp12;
    align-items: center;
    gap: $size-smp16;
    @include mq {
      padding: $size-md24;
      grid-template-columns: 1fr 1fr;
    }
  }
  .article-thumbnail {
    margin-bottom: -0.8rem;
    aspect-ratio: 530/295;
    width: 100%;
    overflow: hidden;
    position: relative;

    border: var(--default-border);
    border-radius: 0.4rem;
    background: $white;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .article-block-label {
    position: relative;
    z-index: 8;
    // background: $black;
    font-size: $size-smp20;
    border-radius: 1.2rem 0 0 0;
    border: var(--default-border);
    border-bottom: none;
    border-right: none;
    color: #ccc;
    margin-block: calc((1em - 1lh) / 2);
    line-height: 1;
    font-weight: 900;
    padding: $size-smp16 $size-smp12;
    margin: 0 -4px;
    @include mq {
      font-size: $size-md24;
      padding: $size-md24 $size-md24 $size-md12;
    }
  }
  .page-headline {
    font-weight: 900;
    -webkit-text-stroke: 10px $black;
    paint-order: stroke;
    writing-mode: vertical-rl;
    font-size: 22cqi;
    color: $white;
    z-index: 2;
    position: absolute;
    top: 0;
    left: -4cqi;
    line-height: 1;
    opacity: 0.8;
  }
  .article {
    position: relative;
    min-inline-size: 0;
    display: grid;
    padding-top: calc($size-md80 + $size-md24);
  }
  .article-inner {
    min-inline-size: 0;
  }
  a.article-url {
    text-decoration: underline;
  }
  .article-url {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    &:before {
      content: "";
      background: url(/public/icon_link.svg) center center / contain no-repeat;
      aspect-ratio: 1;
      width: $size-smp14;
      height: $size-smp14;
      filter: contrast(0);
      display: flex;
      @include mq {
        width: $size-md20;
        height: $size-md20;
      }
    }
  }
  .article-url--close {
    position: relative;
    width: fit-content;
    p.text {
      text-decoration: line-through;
    }
    .close-icon {
      text-decoration: none;
    }
  }
  .close-icon {
    background: $black;
    color: $white;
    text-decoration: none;
    position: relative;
    z-index: 4;
    // top: -1cqi;
    // left: calc(100% + 2cqi);
    font-weight: bold;
    width: fit-content;
    white-space: pre;
    display: flex;
    align-items: center;
    padding: 0.6cqi 1.2cqi 0.6cqi;
    font-size: 0.8rem;
    gap: 1cqi;
    border-radius: 4rem;
    @include mq {
      font-size: $size-md10;
    }
    &:after {
      content: "";
      background: url(/public/icon_sad.svg) center center / contain no-repeat;
      aspect-ratio: 1;
      width: $size-smp12;
      height: $size-smp12;
      display: flex;
      @include mq {
        width: $size-md14;
        height: $size-md14;
      }
    }
  }
  .article-header {
    position: relative;
    z-index: 3;
    background: rgba($white, 0.95);
    display: grid;
  }
  .article-meta {
    display: grid;
    gap: $size-smp12;
    @include mq {
      gap: $size-md12;
      padding: $size-md24;
    }
  }
  .article-category {
    z-index: 9;
    background: $black;
    color: $white;
    padding: 1cqi 2cqi 0.6cqi;
    border-radius: 2rem;
    display: block;
    line-height: 1;
    width: fit-content;
  }

  .article-title {
    margin-block: calc((1em - 1lh) / 2);
    line-height: 1.6;
    word-break: auto-phrase;
    font-size: $size-smp18;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", serif;
    letter-spacing: 0.06em;
    @include mq {
      font-size: $size-md20;
    }
  }
  .article-tags {
    display: flex;
    gap: 1rem;
    &:before {
      content: "";
      background: url(/public/icon_tag.svg) center center / contain no-repeat;
      aspect-ratio: 1;
      width: $size-smp12;
      height: $size-smp12;
      filter: contrast(0);
      display: flex;
      @include mq {
        width: $size-md18;
        height: $size-md18;
      }
    }
  }
  .article-tag {
    position: relative;
    display: flex;
    align-items: center;
    &:before {
      content: "#";
    }
  }
  .article {
    display: grid;
    gap: 6cqi;
    // padding-top: 14cqi;
    line-height: 1.75;
    .article-content {
      background: rgba($white, 0.95);
      position: relative;
      z-index: 5;
      margin-top: -0.8rem;

      padding: $size-smp12;
      @include mq {
        padding: $size-md40 $size-md24;
      }
      :global(h2) {
        font-size: $size-smp16;
        // margin-block: calc((1em - 1lh) / 2);
        margin: 3rem 0 0rem;
        position: relative;
        display: flex;
        align-items: center;
        line-height: 1;
        // padding: 0 2em;
        &:first-letter {
          font-size: 1.6em;
        }
        @include mq {
          font-size: $size-md18;
        }
      }
      :global(h3) {
        font-size: $size-smp14;
        margin: 1em 0 0;
        // margin-block: calc((1em - 1lh) / 2);
        position: relative;
        @include mq {
          font-size: $size-md16;
        }
      }
      :global(p) {
        margin-block: calc((1em - 1lh) / 2);
        font-size: $size-smp12;
        @include mq {
          font-size: $size-md14;
        }
      }
      :global(* + p) {
        margin: 0.5em 0;
        font-size: $size-smp12;
        @include mq {
          margin: 1em 0;
          font-size: $size-md14;
        }
      }
      :global(p a) {
        color: #f9a620;
        text-decoration: underline;
      }
      :global(ul) {
        background: $white;
        padding: 1em 1em 1em 2.5em;
        border: 2px dotted;
        border-radius: 0.5rem;
      }
      :global(code) {
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        user-select: text;
        display: block;
      }
      :global(code::selection) {
        background: $white;
        color: $black;
      }
      :global(img) {
        max-width: 100%;
        height: auto;
      }
      :global(blockquote) {
        padding: 0.8em 1em;
        background: rgba($gray, 0.1);
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          aspect-ratio: 1;
          width: $size-md16;
          background: $gray;
        }
        &:before {
          clip-path: polygon(0 0, 0% 100%, 100% 0);
          top: 1cqi;
          left: 1cqi;
        }
        &:after {
          clip-path: polygon(100% 100%, 0% 100%, 100% 0);
          bottom: 1cqi;
          right: 1cqi;
        }
      }
    }
  }
  .aside-articles {
    position: relative;
    z-index: 0;
    padding: 6cqi 0;
    margin-top: -1rem;
    background: $black;
    .treat svg {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
    }
  }
  .aside-title {
    position: relative;
    text-align: center;
    display: grid;
    align-items: baseline;
    margin: 4cqi 0;
  }
  .aside-title__en {
    grid-column: 1/2;
    grid-row: 1/2;
    line-height: 1;
    font-size: 12cqi;
    color: $white;
  }
  .aside-title__ja {
    grid-column: 1/2;
    grid-row: 1/2;
    background: $black;
    width: fit-content;
    margin: 0 auto;
    color: $white;
    font-size: $size-md18;
    font-weight: bold;
    -webkit-text-stroke: 0.5px $black;
  }
</style>
